.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  position: fixed;
  left:40%;
  top:50%;
}

@keyframes  spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.custom-modal{
  margin-top: 25%;
  width: 450px;
  background-color: #05A322;
  border: 10px solid #4d4d4d;
  -webkit-box-shadow: 5px 5px 27px 5px rgba(12,29,29,0.4);
  box-shadow: 5px 5px 27px 5px rgba(12,29,29,0.4);
}

.custom-modal .custom-header{
 background-image: linear-gradient(to top, #4988b9, #4693ca, #419fdb, #39aaec, #2bb6fd);
 height: 20px;
}
.custom-header .modal-title{
  color: #fff;
  line-height: 1px;
  padding: 0px;
  font-weight: 700;
}
.custom-header button.close{
  margin-top: -10px;
}
.custom-modal .custom-body{
  margin: 0px;
  padding: 0px;
}
button.submit{
  border-radius: 0;
  width: 100%;
  border: none;
  background-image: linear-gradient(to top, #051937, #143862, #1f5b90, #2481c0, #1ba9f2);
  color: #fff;
}
.modal-body h5{
  margin:0px;
}
.modal-body h5.title{
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: bold;
  background: #80ccff;
  color: #2b2c2b;
  padding: 7px 5px 7px 20px;
  position: relative;
  margin-top:-1px;
}
h5.title .right{
  float: right;
  background-color: yellow;
  padding: 7px;
  position: relative;
  top: -7px;
  right: -5px;
}

.modal-body .information{
  /*   background-color: red; */
  padding: 5px 30px 0px 30px;
  margin:0px;
  font-size: 12px;
}

.information p{
  font-family: Verdana, Geneva, Arial, sans-serif;
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 3px;
}
.information .info{
  color: green;
  font-weight: 500;
  text-align: center;
}
.information .error-info{
  display: none;
  color: #FFF;
  background-color: red;
  text-align: center;
  padding: 2px;
}
.input{
  padding-bottom: 10px;
}
.input input{
  width: 70px;
  height: 30px;
  margin-right: 8px;
  text-align: center;
}
.join-button{

  margin-left: 16px !important;
}
.navbar-right-two{
  display:none !important;
}

.main-content-size{
  margin-top: 75px !important;
}
@media  only screen and (max-width: 825px) {

  .fm-FooterModule{
    min-width:0px !important;
    width:100% !important;
    text-align: center !important;
  }

}
@media  only screen and (min-width: 768px) and (max-width: 825px)  {
  .fm-FooterModule{
    margin-left:45px !important;
  }
  .navbar-live{
      display:none;
  }

}
@media  only screen and (max-width: 1040px){
  .main-content-size {
    margin-top: 75px !important;
  }
}
@media  only screen and (min-width: 992px) and (max-width: 1020px)  {
  .main-content-size {
    margin-top: 28px !important;
  }

}
@media  only screen and (max-width: 810px){
  .main-content-size {
    margin-top: 143px !important;
  }

}
@media  only screen and (max-width: 767px){
  .main-content-size {
    margin-top: 0px !important;
  }

}

@media  only screen and (max-width: 1170px) and (min-width: 1045px){
  .nav-side-menu {
    margin-top: 72px;
    margin-left: 0px;
  }
}

@media  only screen and (max-width: 1044px) and (min-width: 1020px){
  .nav-side-menu {
    margin-top: 122px;
    margin-left: 0px;
  }
}

@media  only screen and (max-width: 991px){
  .nav-side-menu {
    margin-top: 130px;
  }
}

@media  only screen and (max-width: 812px) and (min-width: 767px){
  .nav-side-menu {
    margin-top: 186px;
    margin-left: 0px;
  }
}

@media  only screen and (max-width: 767px){
  .nav-side-menu {
    margin-top: -42px;
    margin-left: 9px;
    width: 95% !important;
  }
}

@media  only screen and (max-width: 991px){
  .main-content-wrapper {
    margin-left: 50px;
  }
}
@media  only screen and (max-width: 767px){
  .main-content-wrapper {
    margin-left: auto;
  }
}
@media  only screen and (min-width: 812px) and (max-width: 1180px){
  .footer_payment_logo{

    margin-left: 82px !important;
  }
}

@media  only screen and  (max-width: 470px){
  .custom-modal{
    width:370px !important;
  }
}
@media  only screen and  (max-width: 767px){
  .navbar-fixed-top
  {
    position: relative;
    top: auto;
  }
  .navbar-right-one{
    display:none !important;
  }

  .navbar-right-two{
    display: block !important;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .navbar-right-two .join-button{
    margin-left: 0px !important;
    width:25% !important;
    display: none;
  }

  .navbar-right-two form input{

    width: 90% !important;
  }
  .navbar-right-two .logout-button{
    width: 24% !important;
  }

  .navbar-right-two .logout-button a{
    text-align: center !important;
  }

 .account-info {
  padding: 5px;
  float: left;
  width: 32.33%;
  min-height: 27px;
  margin-right: 3px;
  position: unset !important;
}
.navbar-inverse {
  padding-bottom: 5px;
}
  .nav-side-menu{
    margin-top:
  }
}
.account-info p.coin {
  font-size: 12px;
  margin: 0;
}
.buorg {
  position: absolute;
  position: fixed;
  z-index: 111111;
  width: 100%;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid #A29330;
  text-align: center;
  color: #000;
  background-color: #fff8ea;
  font: 18px Calibri, Helvetica, sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  animation: 1s ease-out 0s buorgfly
}

.buorg-pad {
  padding: 9px;
  line-height: 1.7em;
}

.buorg-buttons {
  display: block;
  text-align: center;
}

#buorgig, #buorgul, #buorgpermanent {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  padding: 1px 10px;
  border-radius: 4px;
  font-weight: normal;
  background: #5ab400;
  white-space: nowrap;
  margin: 0 2px;
  display: inline-block;
}

#buorgig {
  background-color: #edbc68;
}

@media  only screen and (max-width: 700px) {
  .buorg div {
    padding: 5px 12px 5px 9px;
    line-height: 1.3em;
  }
}

@keyframes  buorgfly {
  from {
    opacity: 0;
    transform: translateY(-50px)
  }
  to {
    opacity: 1;
    transform: translateY(0px)
  }
}

.buorg-fadeout {
  transition: visibility 0s 8.5s, opacity 8s ease-out .5s;
}

.buorg-icon {
  width: 22px;
  height: 16px;
  vertical-align: middle;
  position: relative;
  top: -0.05em;
  display: inline-block;
  background: no-repeat 0px center;
}
.error{
 color:red;
 padding-top: 4px;
}
.user-registration-form{
  /* padding: 80px 0px; */
  /* background-color: #fafbf6; */
  position:relative;
}
.user-registration-form .form-warp{
  padding-right: 40px;
  padding-left: 40px;
}

.user-registration-form .form-card{
  /* background-color: #fff; */
  border-radius: 20px;
  padding-top: 15px;
  -webkit-box-shadow: 2px 22px 63px -17px rgba(24,139,240,0.62);
  -moz-box-shadow: 2px 22px 63px -17px rgba(24,139,240,0.62);
  box-shadow: 2px 22px 63px -17px rgba(24,139,240,0.62);
}
.user-registration-form .form{
  padding-left: 15px;
  padding-right: 15px;
}
.user-registration-form .form img{
  text-align: center;
  margin-left: auto;
  display: block;
  margin-right: auto;
}
.user-registration-form .form-control {
  height: 36px;
  padding: 6px 6px;
  font-size: 13px;
  line-height: 1.428571;
  color: #476787;
  background-color: #fff;
  background-image: none;
  border-image-source: linear-gradient(#3c9ef9, #71edf9);
  border-width: 1pt;
  border-image-slice: 1;
}

.user-registration-form label {
  font-weight: bold;
  font-size: 13px;
  font-family: 'Comfortaa', cursive;
  color: #fff;
}

.user-registration-form .form-btn{
  margin-top: 50px;
  width: 100%;
  display: block;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  color: #fff;
  text-decoration: none;
  border: solid 0px;
  padding: 15px 25px;
  letter-spacing: 1px;
   background-color: #05A322;
 
}
.user-registration-form h3 {
  /*    font-weight: bold;*/
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Comfortaa', cursive;
  color: #fff;
  text-align: center;
  text-shadow: -1px -1px 5px #1C6EA4;
}
.user-registration-form p{
  margin-bottom: 20px;
  font-family: 'Comfortaa', cursive;
  color: red;
  text-align: center;
}
.user-registration-form .terms{
  font-family: 'Comfortaa', cursive;
  color: #fff;
}
.art-right{
  position:absolute;
  right:0px;
  bottom: 0px;
  z-index: 9;
}
.art-left{
  position:absolute;
  left:0px;
  bottom: 0px;
  z-index: 9;
}
@media  screen and (max-width: 768px) {
  .user-registration-form .form-warp{
    padding-right: 0px;
    padding-left: 0px;
  }

}
body{
  font-family: arial;
}
.tabBlock
{
  background-color:#2F4F4F;
  border:solid 0px #0000FF;
  border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
  max-width:200px;
  width:100%;
  overflow:hidden;
  display:block;
}
.clock
{
  vertical-align:middle;
  font-family:Orbitron;
  font-size:40px;
  font-weight:normal;
  color:#FFF;
  padding:0 10px;
}
.clocklg 
{
  vertical-align:middle; 
  font-family:Orbitron;
  font-size:20px;
  font-weight:normal;
  color:#FFF;
}
.amountBtn {
  margin: 5px;
  border: 2px solid #f00;
  border-radius: 10px;
  padding: 0px 4px;
  cursor: pointer;
}
.btn-active{
  background: #3bafd2;
}
.number {
  height: 30px;
  margin-top: 5px;
}
@media (min-width: 1281px) {
  .home{
    float:right;
  }
  .left{
    width:auto;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .home{
    float:right;
  }
  .left{
    width:auto;
  } 
}
@media (min-width: 768px) and (max-width: 1024px) {
  .home{
    float:right;
  }
  .left{
    width:auto;
  } 
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .home{
    float:right;
  }
  .left{
    width:auto;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .home{
    float:left;
  }
  .left{
    width:100%;
  }
  .tabMenu {
    margin-bottom: 5px;
    overflow-x: scroll;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .home{
    float:left;
  }
  .left{
    width:100%;
  }
  .tabMenu {
    margin-bottom: 5px;
    overflow-x: scroll;
  }
}
.nav > li {
  position: relative;
  display: block;
  margin-right: 10px;
}
#MyClockDisplay {
  font-weight: bold;
  font-size: 13px;
  color: #e6a610;
}
.tabMenu {
  margin-bottom: 2px;
}
.callaction {
  margin-top: 0px; 
}
.btn.btn-primary {
  font-size: 12px;
  text-transform: capitalize;
  background-color: #2c9ccb;
  padding: 5px 10px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: inherit;
  font-weight: 700;
}
.colupsPanelHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.colupsPanelHeaderImg {
  width: 45px;
}
.colupsPanelHeaderImg img{
  width: 30px;
}
.colupsPanelHeaderContent {
  width: calc(100% - 55px);
  position: relative;
  margin-left: 10px;
}
.colupsPanelHeaderContent h5 {
  margin: 0;
  display: block ruby;
  align-items: center;
  color: #000;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 2px;
  line-height: 10px;
}
.colupsPanelHeaderContent h5 img {
  margin: 0 5px;
  width: 20px !important;
}
.colupsPanelHeaderContent p {
  font-size: 10px;
  margin-bottom: 0;
  line-height: 10px;
  color: #000;
}
.colupsPanelHeaderContent p img {
  width: 17px !important;
  height: auto;
}
.colupsPanelHeaderContent .live-gif {
  width: 40px !important;
  position: absolute;
  top: 30px;
  right: -13px;
}
.panel-heading {
  padding: 5px 15px;
  border-bottom: 1px solid rgba(141,141,141,.3) !important;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.first-lebal{
  background: #05A322;
}
.second-lebal{
  background: #0A2940;
  color: #fff;
}
.colupsPanelHeaderImg img {
  width: 40px !important;
  height: auto !important;
}
.panel-title img {
  width: 40px !important;
  height: 15px;
}
.buttonrate {
  border:1px solid #fff;
}
.t-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 99;
}
.ft-menu-sec {
  background: #0b0b0b;
  color: #fff;
  position: relative;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.p-0 {
  padding: 0 !important;
}
.ft-menu-wrapper {
  text-align: center;
  text-transform: none;
  font-size: 15px;
}
.ft-menu-wrapper {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  text-align: center;
  text-transform: none;
  font-size: 12px;
}
.ft-item a.ftmenu {
  display: block;
  background: #027B5B;
  padding: 2px;
  margin: auto;
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: 10px;
  border: 1px solid #000;
}
.ft-item a.ftmenu img {
  max-width: 40px;
  display: block;
  margin: auto;
  height: 25px;
}
section {
  min-width: 100%;
  position: relative;
  width: 100%;
  padding:0; 
}
.tab-content > .active {
  display: block;
  margin-bottom: 30px;
}
.tabMenu li a {
  border: 1px solid #ddd !important;
  background: #0d7384;
  padding: 7px 15px;
  border-radius: 0 !important;
  color: #eee !important;
  margin-right: -1px;
}
#item {
  right: 7px;
  position: fixed;
  width: 60px;
  height: 63px;
  bottom: 120px;
  background: url(../images/contact.png)no-repeat;
  touch-action: none;
  user-select: none;
  background-size: 60px 63px;
  -webkit-animation: bubble-up-down 3s ease-in-out infinite;
  animation: bubble-up-down 3s ease-in-out infinite;
  cursor: pointer;
}
.wrap-live {
  position: fixed !important;
  bottom: 73px !important;
  right: 5px !important;
}


@-webkit-keyframes bubble-up-down {
  0% {
    bottom: 80px;
    filter: drop-shadow(0 0 7px rgb(251,183,38,1)) brightness(1.05);
  }

  50% {
    bottom: 120px;
    filter: drop-shadow(0 0 5px rgb(251,183,38,0.3));
  }

  100% {
    bottom: 80px;
    filter: drop-shadow(0 0 7px rgb(251,183,38,1)) brightness(1.05);
  }
}

@keyframes bubble-up-down {
  0% {
    bottom: 80px;
    filter: drop-shadow(0 0 7px rgb(251,183,38,1)) brightness(1.05);
  }

  50% {
    bottom: 120px;
    filter: drop-shadow(0 0 5px rgb(251,183,38,0.3));
  }

  100% {
    bottom: 80px;
    filter: drop-shadow(0 0 7px rgb(251,183,38,1)) brightness(1.05);
  }
}
.live-sports .live-video {
  margin-top: 7px !important;
  width: 95%;
  margin: auto;
  height: 500px;
  border: 1px solid #fff;
}



@media screen and (max-width: 1352px) {
  .live-sports .live-video {
    margin-top: 7px !important;
    width: 95%;
    margin: auto;
    height: 536px;
    border: 1px solid #fff;
  }
}
@media screen and (max-width: 992px) {
  .live-sports .live-video {
    margin-top: 7px !important;
    width: 95%;
    margin: auto;
    height: 420px;
    border: 1px solid #fff;
  }
}
@media screen and (max-width: 600px) {
  .live-sports .live-video {
    margin-top: 7px !important;
    width: 95%;
    margin: auto;
    height: 280px;
    border: 1px solid #fff;
  }
}
@media screen and (max-width: 360px) {
  .live-sports .live-video {
    margin-top: 7px !important;
    width: 95%;
    margin: auto;
    height: 200px;
    border: 1px solid #fff;
  }
}

.live-sports .live-video-description {
  margin-top: 7px !important;
  width: 95%;
  margin: auto;
  height: auto;
  border: 2px solid #fff;
  padding:5px;
  color:#fff;
}



@media screen and (max-width: 1352px) {
  .live-sports .live-video-description {
    margin-top: 7px !important;
    width: 95%;
    margin: auto;
    height: auto;
    border: 2px solid #fff;
    padding:5px;
    color:#fff;
  }
}
@media screen and (max-width: 992px) {
  .live-sports .live-video-description {
    margin-top: 7px !important;
    width: 95%;
    margin: auto;
    height: auto;
    border: 2px solid #fff;
    padding:5px;
    color:#fff;
  }
}
@media screen and (max-width: 600px) {
  .live-sports .live-video-description {
    margin-top: 7px !important;
    width: 95%;
    margin: auto;
    height: auto;
    border: 2px solid #fff;
    padding:5px;
    color:#fff;
  }
}
@media screen and (max-width: 360px) {
  .live-sports .live-video-description {
    margin-top: 7px !important;
    width: 95%;
    margin: auto;
    height: auto;
    border: 2px solid #fff;
    padding:5px;
    color:#fff;
  }
}
@media (min-width:1200px) {
  .container {
    width:100%;
  }
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #228cdd !important;
  border-color: #adadad;
}
.userAlert {
  color: #b50b0b;
  font-size: 15px;
}
.myButton {
  box-shadow: 3px 4px 0px 0px #000102;
  background: linear-gradient(to bottom, #fff 5%, #fffafa 100%);
  border-radius: 5px;
  border: 1px solid #337bc4;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 14px;
  padding: 4px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  font-family: ;
}
.myButton:hover {
  background: linear-gradient(to bottom, #d0d0d0 5%, #e7ecf0 100%);
  background-color: #378de5;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 1px 10px 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.betOptionWrap {
  display: flex;
  flex-wrap: wrap;
}
.betOptionWrap .buttonrate {
  width: 33.33%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 12px !important;
}
.betOptionWrap .buttonrate span.text {
  white-space: nowrap;
  overflow: hidden;
  width: 85%;
  margin-right: 3px;
  float: left;
  font-size: 12px !important;
  color: #ddd;
}
.buttonrate3:hover{
  background-color: #3a3a3a !important;
}
#container_buttons {
  width: 100%;
  margin-left: 0;
  background: #fff;
  padding: 5px 5px 12px 5px;
  font-size: 0;
}
.a_demo_four {
  width: 49%;
  display: inline-block;
  background-color: #3bb3e0;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 5px 20px;
  padding-right: 50px;
  background-image: ;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #9990;
  text-align: center;
  float: right;
}
.b_demo_four {
  width: 49%;
  display: inline-block;
  text-align: center;
  background-color: #3bb3e0;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 5px 20px;
  padding-right: 50px;
  background-image: ;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #9990;
}
.a_demo_four:hover{
  color: #fff;
  cursor: pointer;
}
.b_demo_four:hover{
  color: #fff;
  cursor: pointer;
}
.a_demo_four:active {
  top:3px;
  background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(62,184,229)),
    color-stop(1, rgb(44,160,202))
    );
  -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}
.b_demo_four:active {
  top:3px;
  background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(62,184,229)),
    color-stop(1, rgb(44,160,202))
    );
  -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.a_demo_four::before {
  background-color:#0d9d01;
  background-image:url(../images/right_arrow.png);
  background-repeat:no-repeat;
  background-position:center center;
  content:"";
  width:20px;
  height:20px;
  position:absolute;
  right:15px;
  top:50%;
  margin-top:-9px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
  -moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
  -o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
  box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}
.b_demo_four::before {
  background-color:#0d9d01;
  background-image:url(../images/right_arrow.png);
  background-repeat:no-repeat;
  background-position:center center;
  content:"";
  width:20px;
  height:20px;
  position:absolute;
  right:15px;
  top:50%;
  margin-top:-9px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
  -moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
  -o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
  box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

.a_demo_four:active::before {
  top:50%;
  margin-top:-12px;
  -webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
  -moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
  -o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
  box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}
.b_demo_four:active::before {
  top:50%;
  margin-top:-12px;
  -webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
  -moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
  -o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
  box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}
.dateshow {
  margin: 0px;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 2px solid #eee;
}
.form-group {
  margin-bottom: 5px;
}
.featured-game {
  padding: 0px 0px 0px;
  background: url(../images/featuredgame-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.single-game img {
  height: 120px;
  vertical-align: top;
  margin-top: 15px !important;
  position: relative;
}
.featured-game .game-slider .item .single-game img {
  width: auto;
  display: inline-block;
  margin-top: -25px;
}
.single-game .mybtn2 {
  position: absolute;
  display: block;
  height: 50px;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.4);
}
.mybtn2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  width: 190px;
  display: inline-block;
  color: #fff;
  border: 0px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: -webkit-gradient(linear, right top, left top, from(#1c294e), to(#1c294e));
  background: -webkit-linear-gradient(right, #1c294e, #1c294e);
  background: -o-linear-gradient(right, #1c294e, #1c294e);
  background: linear-gradient(to left, #1c294e, #1c294e);
}
.mybtn2:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff344d), to(#d2273c));
  background: -webkit-linear-gradient(left, #ff344d, #d2273c);
  background: -o-linear-gradient(left, #ff344d, #d2273c);
  background: linear-gradient(to right, #ff344d, #d2273c);
  color: #fff;
}
.featured-game .game-slider .item .single-game {
  margin: 15px 15px 40px;
}
.single-game {
  height: 180px;
  display: block;
  line-height: 300px;
  text-align: center;
  border: 1px solid #273b71;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(27, 201, 219);
  box-shadow: 0px 10px 15px 0px rgb(27, 201, 219);
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.single-game:hover {
  border: 2px solid #681f40;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.single-game img {
  margin-top: -25px;
  -webkit-animation: opacityAnimation 2s linear infinite;
  animation: opacityAnimation 2s linear infinite;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
@-webkit-keyframes opacityAnimation {
  0% {
    opacity: 0.4; 
  }
  50% {
    opacity: 1; 
  }
  100% {
    opacity: 0.4; 
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0.4; 
  }
  50% {
    opacity: 1; 
  }
  100% {
    opacity: 0.4; 
  } 
}
.event_perticipant_name{
  color: #000;
  padding: 0 12px;
}
.bet_modal:hover{
  color: #fff !important;
}
.betAsia_participant {
  background-color: #fff;
  font-size: 12px;
  position: relative;
  display: inline-block;
}
.list-group li{
  list-style: none;
  float: left;
}
.win-img{
  width: 30px;
}
.tabMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 15px;
}
.siteClock {
  color: #adf4fb !important;
  position: absolute;
  top: 25px;
  left: 103px;
  font-size: 14px;
  border-top: 1px solid #00cc3d;
  border-bottom: 1px solid #00cc3d;
  font-weight: bold;
}
.nav-side-menu {
  margin-top: 72px;
  width: 14.7% !important;
  padding-top: 10px;
  font-family: 'Comfortaa', cursive;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  /* background-color: #1a5685; */
  background: url(../images/nav-bg.png) 50% no-repeat;
  background-size: cover;
  border-right: 2px solid #071c2c;
}
.navbar-inverse .navbar-nav > li > a {
  padding: 5px 10px !important;
}
.itemSlider{
  width: 100%;
}
.SliderItem {
  float: left;
  width: 14.2%;
  text-align: center;
  font-size: 11px;
  border-right: 2px solid #fbfbfb;
}
.sliderImg img {
  width: 35px;
  margin: auto;
  display: block;
  height: 30px;
}
.sliderImg a{
  color: #fff;
}
.sliderImg a:hover{
  color: #000;
}
.navbar-toggle {
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  left: 5px;
}
.sidenav .sub-menu li {
  font-size: 10px;
  margin-left: 20px;
}
.fm-PartnerLogoContainer_Icon + .fm-PartnerLogoContainer_Icon {
  margin-left: 0px;
}
.md4 {
  margin-top: 10px;
  text-align: center;
}