@media only screen and (min-width: 1270px) {

    .navbar-header{
        margin-right:60px !important;
    }
}


@media only screen and (max-width: 1270px) {

    .navbar-header{
        margin-right:32px !important;
    }
    .nav-side-menu{
        margin-top: 50px;
    }
}
@media only screen and (max-width: 1170px) {
    .nav-side-menu{
        margin-top: 82px;
        margin-left: 15.5%;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1170px)  {
    .nav-side-menu{
        margin-top:72px;
        margin-left: 0px;
    }

    .main-content-size{
        margin-top:83px;
        margin-left: 15%px;
    }

}
@media only screen and (min-width: 1170px) and (max-width: 1271px)  {

    .nav-side-menu{
        margin-top:72px;
        margin-left: 0px;
    }

}
@media only screen and (max-width: 1020px)  {
    .nav-side-menu{
        width: 15% !important;
        margin-top:72px;
    }
    .upcoming-matches{
        margin-top:2px;
    }
    .main-content-size{
        margin-top:82px;
    }
    .main-content-wrapper{
        padding-right: 10px;
    }
    .navbar-inverse .navbar-nav > li > a {
        font-family: 'Merriweather', serif;
        font-size: 12px;
    }
}


@media only screen and (max-width: 991px)  {
    .nav-side-menu{
        width: 15% !important;
    }
    .upcoming-matches{
        margin-top:30px;
    }
    .main-content-size{
        margin-top:95px;
    }
    .main-content-wrapper{
        margin-left: auto;
        padding-right: 10px;
    }
    .sports_event_perticipant_3rd{
        width: 50%;
    }
    /*.join-button{*/
        /*width: 50%;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        /*}*/
    }
    @media only screen and (min-width: 769px) and (max-width: 800px)  {

        .user-registration {
            margin-top:20px;
        }
        .nav-side-menu{
            margin-top:131px;
        }
        .main-content-size{
            margin-top:82;
            margin-left: 0px;
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 831px)  {
        .nav-side-menu{
            margin-top:90px;
        }

        .main-content-size{
            margin-top:90px;
            margin-left: 15%;
        }
    }
    @media only screen and (max-width: 768px){
        .main-content-size{
            margin-top:10px;
            margin-left: 0px;
        }
        .nav-tabs li{
            margin-right: -28px;
        }
        .nav-tabs li.first-tab{
            margin-left: -15px;
        }
        .navbar-header{
            margin-right:56px !important;
        }
        .navbar-form{
            margin-left:5px;
        }
        .nav-side-menu{
            margin-left:10px;
            width: 97% !important;
        }
        .main-content-wrapper{
            padding-left: 10px;
        }
        .navbar-brand {
            position: absolute;
            height: 50px;
            padding: 15px 15px;
            font-size: 18px;
            line-height: 20px;
            left: 75px;
            top: 5px;
        }
    }

    @media only screen and (max-width: 767px){
        body, html {
            height: auto;
        }
        .row.main-content-wrapper {
            margin-left: 0;
            margin-right: 0;
            padding-right: 0;
            padding-left: 0;
        }
        .row.main-content-wrapper .col-md-8.col-lg-9 {
            padding-left: 0;
            padding-right: 0;
        }
        .custom-modal {
            width: 100% !important;
        }
        .nav-side-menu{
            margin-top: 90px;
            margin-left: 9px;
            width: 95% !important;
        }
        .nav-side-menu .collapse:first-child{
            display: block;
        }

        a.btn.btn-link.forgot-password-mobile {
            padding: 10px 0;
            padding-bottom: 0;
        }

        .mobile-sign-in-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
        }

        .navbar-inverse .navbar-brand img {
            max-height: 60px;
            width: auto;
            top: -17px;
        }

    }
    @media only screen and (max-width: 425px){

        .nav-tabs li{
            width:80px;
        }
        .nav-tabs li a span{
            display: none;
        }

    }
    @media (max-width: 600px) {
        .navbar-fixed-top
        {
            position:fixed;
            top:0;
            width:100%;
            z-index:100;
        }
        .join-button{
            display: none;
        }
        .signupbutton{
            display: block;
        }
        .nav-side-menu{
            display: none;
        }
        #nav-top-links{
            display: none;
        }
        .panel-group .panel{
            overflow: auto;
            font-size: 0.6em;
        }

        .logout-button {
          position: absolute !important;
          display: block  !important;
          margin-right: 10px  !important;
          top: 70px  !important;
      }
      .diposit-button {
        position: absolute !important;
        display: block !important;
        margin-right: 0 !important;
        top: 70px !important;
        left: 0px;
        outline: 0 none;
        color: #FFF;
        border-radius: 20px;
        border: 1px solid #7900;
        padding:0px 0px !important;
    }
      .withdraw-button {
        position: absolute !important;
        display: block !important;
        margin-right: 0 !important;
        top: 70px !important;
        right: 0px;
        outline: 0 none;
        color: #FFF;
        border-radius: 20px;
        border: 1px solid #7900;
        padding:0px 0px !important;
    }
}
