@import url('https://fonts.googleapis.com/css?family=Open+Sans|Merriweather|Comfortaa');

html {
    overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
body{
    font-family: 'Comfortaa', cursive;
    background-color: #0a2940;
}
.top-navbar-wrapper{
}
.navbar-inverse .navbar-brand{
    color:white;
    font-weight:900;
    font-size:30px;
}
.navbar-inverse .navbar-brand img{
    width: 200px;
    position: relative;
    top: -26px;
}
.navbar-inverse {
    padding-bottom: 12px;
    padding-top: 12px;
    background: #05A322;
  
}

.dropdown-menu li:hover a{
    background: #ddd;
}
.nav-side-menu{
    margin-top: 72px;
    width: 14.7% !important;
    padding-top: 10px;
    font-family: 'Comfortaa', cursive;
    /* padding-left: 5px;
    padding-right: 5px; */
    /* background-color: #1a5685; */
    background: url(./img/nav-bg.png) 50% no-repeat;
    background-size: cover;
    border-right: 2px solid #071c2c;
}
.nav-side-menu li{
    border-left: none;
    border-bottom: 1px solid #404040;
}
.account-info{
    position: absolute;
    right: 160px;
    background-color: #0a2940;
    padding: 4px;
    top: 4px;
    border-radius: 22px;
}
.account-info p{
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 10px;
}
.account-info p.coin{
    font-size: 15px;
}
.account-info p img{
    height: 20px;
    weight: 20px;
}
.nav-side-menu .brand{
    font-weight:bold;
}
.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li{
    background-color: #030e16;
}
.main-content-size {
    /* background-color: #585858; */
    /* margin-top: 85px; */
    margin-top: -20px;
    margin-left: 16.4%;
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
}
.main-content-wrapper{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: -3%;
}
.rightside-content-wrapper{
    padding-right: 0px;
    padding-left: 0px;
    height: 450px;
}

.join-button{
    margin-top:8px;
}
/*
 *  Scrollbar STYLE
 */
#scrollable{
    max-height: 450px;
    overflow-y: auto;
}

.rightside-content-wrapper::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #21242b;
}

.rightside-content-wrapper::-webkit-scrollbar
{
    width: 12px;
    background-color: #21242b;
}

.rightside-content-wrapper::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/* Tab Design goes here */

.nav-tabs li a i{
    font-size:22px;
}
.nav-tabs {
    margin-top: 5px;
    padding: 0;
    border: 0;
    background-color: #0a2940;
}
.nav-tabs > li > a {
    /* background: #DADADA; */
    color: #fff;
    font-size: 15px;
    border-radius: 0;
    /* box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4); */
    border-left: 2px solid #333333;
}
.nav-tabs > li > a:hover{
    background-color: #113855;
    color: #ccc;
}
.nav-tabs > li.active > a,.nav-tabs > li.active > a:active,
.nav-tabs > li.active > a:hover {
    background: #fff;
    color: rgb(255, 153, 0);
    /* box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4); */
}

/* Tab Content */
.tab-pane {
    /* background: #e2e5e9; */
    /* background: rgb(110, 126, 145,0.2);
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    padding: 10px; */
    text-align: center;
    margin-top: 2px;
    border: 4px solid #4988b9;
}
.sports_event_perticipant_3rd{
    text-align: center;
}
/* top login form goes here */
.navbar-right form input{
    background: black;
    color:white;

}

.navbar-form  input{
    width:115px !important;
}
.navbar-nav{
    margin-top:0px;
}

.header-links{
    margin-top:10px;
}
.navbar-inverse .navbar-nav > li > a{
    font-family: 'Merriweather', serif;
    font-size: 19px;
}
.navbar-nav li.active{
    border-bottom: 2px solid #ff1a1a;
    border-radius: 20px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover{
    background-color: ;
    border-radius: 20px;
}
.navbar-toggle {
    margin-right:-36px;
}
.logout-button, .login-button{
    margin-right:45px;
}
.login-button{
    margin-right:30px;
}

.logout-button a{
    background: #8B4513 !important;
}
.content_accordion_heading h4.panel-title{
    padding:10px;
}

.carousel-inner > .item > img {
//width:920px;
    width:100%;
    height:200px;
}
.carousel-indicators {
    bottom:-10px;
}

.block_content .scoreboard {
    margin-left: auto;
    margin-right: auto;
}
.scoreboard .tournament{
    background-color: darkgreen;
    font-size: 15px;
    text-align: center;
    color: #fff;
    padding: 2px 0px 2px 0px;
}

.scoreboard .table tr td{
    font-size: 12px;
}
.scoreboard .table tr td.vs{
    display: table-cell;
    vert-align: middle;
    text-align: center;
}
.scoreboard .info {
    padding-left: 5px;
    padding-right: 5px;
}

#siteClock{
    color: red;
}
/*.signupbutton{*/
/*display: none;*/
/*}*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #315c8a;
    background: url(../images/nav-bg.png);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;

    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .sub-menu li{
    font-size: 10px;
    margin-left: 51px;
    border-bottom: 1px solid;
    list-style: none;
}
/* .sidenav .sub-menu li::after{
  font-family: FontAwesome;
  content: "\f059";
} */

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.match-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0d3859 !important;
  font-weight: 700 !important;
}

.match-details-header span {
  display: flex;
  align-items: flex-start;
}

.match-details-header span.left-side {
    max-width: 50%;
    flex-direction: column;
    font-weight: 700;
    font-size: 14px;
}

.match-details-header span.left-side span {
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    display: inline-block;
    margin: 3px 0;
    width: 100%;
    text-align: left;
}

.match-details-header span.left-side span.top-side {
  font-size: 90%;
}

.match-details-header span.right-side {
  flex-direction: column;
  align-items: flex-end;
}

.match-details-header span.right-side span {
  margin: 3px 0;
}

.match-details-header span.right-side span.top-side {
    font-weight: 700;
    color: #ff1a1a;
}

.match-details-header span.right-side span.top-side .separator {
  margin: 0 8px;
}

.match-details-header span.right-side span.bottom-side {
  font-size: 85%;
}
span.bottom-side.countTimer.deactive{
  display: none;
}
.upcoming-matches .block_content {
    padding-top: 0;
}

@media screen and (max-width: 767px) {
  .match-details-header span.left-side {
      font-size: 12px;
  }
  .play_sports_participant_header {
      font-size: 11px;
  }
  .match-details-header span.left-side {
    max-width: 90%;
  }
}
