
/*
PROJECT NAME - BETASIA365.COM
DATE - 11th September 2017
*/

*{
	padding:0;
	margin:0;
}

/* body css */
body {
  font-family:Verdana, Geneva, Arial, sans-serif;
  font-size: 13px;
  line-height:normal;
  color: #333333;
  background:#1a1a1a;
  margin:0;
  padding:0;
	overflow-x: hidden;
}

/* Form css */
form{
	margin:0;
}
label{
  font-family:Verdana, Geneva, Arial, sans-serif;
  font-size: 13px;
}
input{
  font-family:Verdana, Geneva, Arial, sans-serif;
  font-size: 12px;
}
a {
  color: #000100;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: none;
}

p{
	text-align:left;
	font-size:13px;
	line-height:15px;
	color:#c8c7b5;
}

/* header style */
h1, h2, h3, h4, h5, h6 {
	font-family:'Droid Sans', Verdana, Geneva, Arial, sans-serif;
	color:#007fde;
	font-style:normal;
	font-weight:normal;
	margin:0;
}
/*FONT SIZE*/
h1 {
    font-size: 30px;
    line-height:36px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size:21px;
}
h4 {
    font-size:18px;
}
h5{
    font-size:16px;
}
h6 {
    font-size:14px;
}


/* amar apon style css Liakat - 19-07-2013 */
.wrapper{
	width:100%;
	padding:0;
	margin:0;
}

/* header part css */
.header_top_bar{
	background:#191919;
	padding:3px 0;
}
p.welcome_message{
	color:#797979;
	text-shadow:1px 1px 1px #000000;
	text-align:left;
	margin:0;
}
p.welcome_message span{
	color:#16a4ed;
}
.date_time_block{
	display:block;
	text-align:right;
}
.date_time_block time, .date_time_block calendar{
	color:#7e7e7e;
	margin-left:10px;
}
.date_time_block time i, .date_time_block calendar i{
	padding-right:7px;
	display:inline-block;
	color:#5b5b5b;
	font-size:14px;
}


.header_title_part{
	background:#d28a00;
	padding:10px 0 7px;
}
.site_title{
}
.site_title .logo{
	margin:0;
	padding:0;
	display:inline-block;
}
.login_form_panel, .user_info_block{
	display:block;
	text-align:right;
}
.login_form_panel .form-inline .form-group input.form-control{
	border-radius:0;
		-moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0;
	border-color:transparent;
	background:#814300;
	padding:2px 12px;
	font-size:12px;
	color:#d28a00;
	height:30px;
	width:140px;
}

.login_form_panel .form-inline .form-group span{
	display:block;
	text-align:left;
	font-size:12px;
	color:#FFF;
}
.login_form_panel .form-inline .form-group span a{
	color:#ffdb97;
	padding:2px 0;
	display:inline-block;
}
.login_form_panel .form-inline .form-group span a:hover{
	color:#fff8ea;
}
.login_btn_top{
	padding:5px 10px;
	background:#c14008;
	border:0 none;
	text-transform:uppercase;
	font-weight:700;
	text-shadow:none;
	color:#FFF;
	font-family:'Droid Sans';
	vertical-align:top;
	font-size:14px;
	border-radius:0;
		-moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0;
}


.welcome_message_right{
	display:inline-block;
	text-align:left;
	vertical-align:top;
	margin-bottom:15px;
}

.welcome_message_right .profile_photo{
	width:70px;
	margin-right:10px;
	float:left;
}
.welcome_message_right img{
	vertical-align:top;
	margin-right:15px;
	border-radius:7px;
		-moz-border-radius:7px; -o-border-radius:7px; -webkit-border-radius:7px;
}
.welcome_message_right span{
	display:inline-block;
}

.welcome_message_right span strong{
	display:block;
	font-weight:700;
	padding-bottom:5px;
}
.welcome_message_right a{
	display:inline-block;
	margin-top:3px;
}
strong.user_amount_coin{
}
strong.user_amount_coin img{
	margin-right:2px;
}
@media screen and (min-width: 768px) {}
@media (min-width:768px) and (max-width:991px) {}
@media (min-width:993px) and (max-width:1025px){}
@media (max-width: 767px) {
p.welcome_message{
	text-align:center;
	border-bottom:1px solid #333;
	padding:6px 0 10px;
}
ul.top_links {
	text-align:center;
	padding-bottom:10px;
	padding-top:5px;
}
ul.top_links li {
	line-height:24px;
}
.date_time_block{
	text-align:center;
	padding:5px 10px;
}
.site_title{
	display:block;
	text-align:center;
	margin-bottom:10px;
}
.login_form_panel{
	text-align:left;
}
.login_form_panel .form-inline .form-group input.form-control{
	display:inline-block;
	text-align:left;
	width:100%;
}
.login_btn_top{
	display:block;
	width:100%;
}
.user_info_block{
	text-align:center;
	margin:7px 0;
}
}
@media (min-width:479px) and (max-width:639px){}



/* Navigation Panel Style */
.navigation_part{
	background:#d26d00;
}
.nav_ber_block{
	position:relative;
}
.site_top_navbar{
	padding-left:0;
	padding-right:0;
}
.main_navitgation{
/*	padding-right:0 !important;
	padding-top:0;
	padding-left:5px !important;*/
}

.navbar{
	margin-bottom:0;
	border-radius:0;
}
.top_main_navbar{
	background:transparent;
	border:0 none;
	min-height:20px;
	border-radius:0;
	/*border:0 none;*/
}

.navbar-inverse .navbar-nav > li > a {
line-height:20px;
font-size:14px;
text-decoration:none;
padding:7px 15px;
color:#FFF;
text-align:center;
display:block;
outline:0 none;

-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a.active{
	outline:0 none;
	color:#FFF;
	background:#0d2a40;
	border-radius: 20px;
}
.nav > li{
	/*border-left:1px solid #005184;*/
}
.nav > li > a{
	margin-left:0px;
/*	margin-right:15px;*/
	padding:15px 12px;
	/*border-left:1px solid #017ecd;*/
}
.mobile_btn{
	background:#333;
}

.nav_social_links{
	margin-top:13px;
}
.nav_social_links a img{
	width:18px;
	margin-right:2px;
}

@media (min-width: 768px) {/* line 403*/
.nav > li > a{
	margin-left:0px;
}
.navbar-inverse .navbar-nav > li > a {
	font-size:13px;
}
}
@media (max-width: 767px) {/* line 4240*/
.nav_float_right{
	float:left;
}
.main_navitgation{
	/*padding-right:15px;
	padding-left:15px;
	padding-top:0px;*/
}
.site_top_navbar{
	float:none;
}
.nav > li > a{
	margin-left:15px;
	margin-right:15px;
	border:0 none;
}
.navbar-inverse .navbar-nav > li > a{
	text-align:left;
	margin-bottom:0;
	//border-bottom:1px solid #9a0000;

	padding:8px 5px;
	font-size:13px;
}
.container > .navbar-header, .container > .navbar-collapse{
	margin-right:0;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a.active{
	border-bottom:1px solid #790000;
}

.live_in_play_panel .nav > li > a{
	margin-left:0;
	margin-right:0;
}
}
@media (min-width: 768px) and (max-width: 991px) {/* line 6277*/
.navbar-inverse .navbar-nav > li > a{
	font-size:11px;
	padding:12px 5px;
}
.main_navitgation .dropdown-menu > li > a{
	font-size:13px;
}
.nav_social_links{
	position:absolute;
	right:0;
	top:-26px;
}
.nav_social_links{
	margin-top:0px;
}
.nav_social_links a img{
	width:14px;
	margin-right:5px;
}

}


/*
nav{display:block;
margin:0px;
}

.menu{display:block; margin-bottom:0;}

.menu li{
display: inline-block;
position: relative;
z-index:100;
margin:0;
padding:0;
}

.menu li:first-child{margin-left:0;}
.menu li a {
height:30px;
line-height:18px;
font-size:13px;
text-decoration:none;
padding:5px 15px;
color:#FFF;
text-align:center;
display:block;

-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover, .menu li:hover > a{
	color:#FFF;
	background:#006629;
}

.menu ul {display: none;
margin: 0 !important;
padding: 0;
width:200px;
position: absolute;
top:40px;
left:0px;
background:none;
}

.menu ul li {display:block;
float: none;
background:none;
margin:0;
padding:0;
border:0 none;
}


.menu ul li a {font-size:12px;
font-weight:normal;
display:block;
color:#e5c3ff;
border-top:1px solid #000;
border-right:5px solid #ce8dff;
border-left:5px solid #ce8dff;
background:#202020;
text-align:left;
}
.menu ul li > a{
padding:10px 15px;
}
.menu ul li a:hover, .menu ul li:hover > a{
background:#e5c3ff;
border-left:5px solid #b100bc;
border-right:5px solid #b100bc;
color:#202020;
}

.menu li:hover > ul{ display: block;}
.menu ul ul {left: 180px;
	top: 0px;
}
.menu ul li ul.sub-menu li a{
padding:8px 15px;
}

.mobile-menu{display:none;
width:100%;
padding:11px;
background:#ce8dff;
color:#202020 !important;
text-transform:uppercase;
font-weight:600;
	border-radius:6px;
		-moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px;
}
.mobile-menu:hover{background:#b100bc;
color:#ffffff !important;
text-decoration:none;
}

@media (min-width: 768px) and (max-width: 991px) {

.mainWrap{width:auto;}
.menu ul {top:40px; width:180px;}
.menu li a{padding:10px 3px; font-size:12px;}
}

@media (max-width: 767px) {
.navigation_bar_top{
	padding:10px 10px;
}
.mainWrap{width:auto;padding:0px;}
.menu{display:none;}
.mobile-menu{
	display:block;
}

nav{margin:0;background:none;}
.menu li{display:block; margin:0; border:0 none;}

.menu li a {
background:#000;
color:#797979;
border:1px solid #202020;
	border-radius:6px;
		-moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px;
}

.menu li a:hover, .menu li:hover > a{
background:#b100bc;
color:#FFFFFF;
}



.menu ul {
display:block;
position:relative;
top:0;
left:0;
width:100%;
}

.menu ul ul {left:0;}
}

@media (min-width: 992px) and (max-width: 1025px){
.menu li a{
	padding:10px 8px;
}
}
*/

/* MAIN BODY COLOUM SEPERATOR STYLE ===================================================== */
/*.main_container_panel{
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:stretch;
-ms-flex-align:stretch;
align-items:stretch;
}

.full_left_col{
-webkit-flex:1 1 auto;
-ms-flex:1 1 auto;
flex:1 1 auto;
width:auto;
position:relative;

display:-webkit-flex;
display:-ms-flexbox;
display:flex;

-webkit-align-items:stretch;
-ms-flex-align:stretch;
align-items:stretch;
}
.full_right_col{
	padding-left:0;
	border-left:2px solid #4d4d4d;
	width:500px;
	padding-left:2px;

	-webkit-flex:0 0 auto;
	-ms-flex:0 0 auto;
	flex:0 0 auto;
	background:#1a1a1a;
	position:relative;
}


.main_container_wrapper{
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items:stretch;
-ms-flex-align:stretch;
align-items:stretch;
width:100%;
}
.left_navigation_col{
	border-right:1px solid #393939;
	-webkit-flex:0 0 auto;
	-ms-flex:0 0 auto;
	flex:0 0 auto;
	width:200px;
	position:relative;
	background-color:#0a0a0a;
	box-shadow:inset -2px 1px 5px 0 rgba(0,0,0,.1);
}
.container_wrapper_col{
-webkit-flex:1 1 auto;
-ms-flex:1 1 auto;
flex:1 1 auto;
padding-bottom:60px;
}
*/


/* NEW COLOUM SEPERATION ==================== */

.new_cotainer_seperation{
}
.new_cotainer_seperation .container-fluid{
	padding-left:0;
	padding-right:0;
}
.new_container_col_left{

}
.new_container_col_middle{
}
.new_container_col_right{
	background:#111111;
}
.new_cotainer_seperation .row .col-lg-9.new_container_col_left, .new_cotainer_seperation .row .col-md-8.new_container_col_left, .new_cotainer_seperation .row .col-sm-12.new_container_col_left{
/*	padding-left:15px;
	padding-right:0;
	position:relative;*/
	padding-right:0;
}
.new_cotainer_seperation .row .col-lg-3.new_container_col_right, .new_cotainer_seperation .row .col-md-4.new_container_col_right, .new_cotainer_seperation .row .col-sm-12.new_container_col_right{
/*	padding-left:0;
	padding-right:0;
	position:relative;*/
	padding-left:0;
}

.left_coloum_panel{}
.right_coloum_panel{}

.main_container_cover{
	position:relative;
	z-index:1;
	margin:0;
	height:100%;
	width:100%;
	overflow:hidden;
	background:#111111;
}

.main_container_cover .left_navigation_coloum{
	position:absolute;
	width:200px;
	background:#0a0a0a;
	left:0;
	top:0;
	height:100%;
	overflow:hidden;
}
.main_container_cover .right_container_coloum{
	position:relative;
	margin-left:200px;
	padding:0px;
	height:100%;
}

/*.left_navigation_col .left_navigation_panel, .left_navigation_coloum .left_navigation_panel{
	color:#bbb;
	font-size:12px;
	line-height:25px;
}
.left_vertical_menu {
	top: 124px;
	width: 199px;
}*/

@media screen and (min-width: 768px) {}
@media (min-width:768px) and (max-width:991px) {
.new_cotainer_seperation .row .col-lg-3.new_container_col_left, .new_cotainer_seperation .row .col-md-4.new_container_col_left, .new_cotainer_seperation .row .col-sm-12.new_container_col_left{
	padding-right:15px;
}
.new_cotainer_seperation .row .col-lg-3.new_container_col_right, .new_cotainer_seperation .row .col-md-4.new_container_col_right, .new_cotainer_seperation .row .col-sm-12.new_container_col_right{
	margin-left:15px;
	padding-right:15px;
}
}
@media (min-width:993px) and (max-width:1025px){
.new_cotainer_seperation .row .col-lg-9.new_container_col_left, .new_cotainer_seperation .row .col-md-8.new_container_col_left, .new_cotainer_seperation .row .col-sm-12.new_container_col_left{
	padding-right:0;
}
.new_cotainer_seperation .row .col-lg-3.new_container_col_right, .new_cotainer_seperation .row .col-md-4.new_container_col_right, .new_cotainer_seperation .row .col-sm-12.new_container_col_right{
	padding-left:0;
}
}
@media (max-width: 767px) {
.new_cotainer_seperation .row .col-lg-9.new_container_col_left, .new_cotainer_seperation .row .col-md-8.new_container_col_left, .new_cotainer_seperation .row .col-sm-12.new_container_col_left{
	padding-right:15px;
}
.new_cotainer_seperation .row .col-lg-3.new_container_col_right, .new_cotainer_seperation .row .col-md-4.new_container_col_right, .new_cotainer_seperation .row .col-sm-12.new_container_col_right{
	padding-left:15px;
}
.main_container_cover .left_navigation_coloum{
	position:fixed;
	width:100%;
	background:#0a0a0a;
	overflow:hidden;
	z-index:99999;
}
.main_container_cover .right_container_coloum{
	margin-left:0px;
}

.left_vertical_menu {
	/*top: 124px;*/
	width:100%;
	position:relative;
}
.main_container_cover .left_navigation_coloum{
	background:none;
	height:auto;
}
}
@media (min-width:479px) and (max-width:639px){}





/* MAIN CONTAINER PANEL STYLE ===================================== */


/* LEFT SIDEBAR NAVIGATION STYLE =================================== */

.left_vertical_menu{
	border-top:1px solid #000;
	background:#1c1d22;
}
/* Left menu component css */

.menu__level {
	width:100%;
	overflow:hidden;
}
.menu__item {
	width:100%;
	overflow:hidden;
}

.menu__link {
	font-weight:400;
	padding:4px 15px;
	color: #bdbdbd;
	border-bottom:1px solid #101010;

	height:30px;
	display: block;
	line-height: 20px;
	padding:4px 15px;
	color: #9f9e9e;
	font-size: 12px;
	font-family:inherit;

}
.menu__link:hover, .menu__link:focus,
.menu__link--current
{
	background-color:#191919;
	border-right:4px solid #d26d00;
	color: #FFFFFF;
	font-weight:normal;
}
.menu__link[data-submenu]:hover::after,
{
	background-color:#191919;
	color: #FFFFFF;
	font-weight:normal;
}


.menu__breadcrumbs {
	font-size:10px;
	line-height:normal;
	padding:7px 15px;
}

@media screen and (min-width: 768px) {}
@media (min-width:768px) and (max-width:991px) {
}
@media (min-width:993px) and (max-width:1025px){
}
@media (min-width:1026px) and (max-width:1366px){
}
@media (max-width: 767px) {
.left_vertical_menu{
	border-top:1px solid #000;
	background:none;
}
}
@media (min-width:479px) and (max-width:639px){}

/* MIDDLE PAGE CONTAINER STYLE =================================== */

.recent_new_bulletin_block{
	display:table;
	table-layout:fixed;
	width:100%;
	border-bottom:1px solid #404040;
	border-top:1px solid #000;
	background:#242424;
	border-left:7px solid #FF0000;
}
.recent_new_bulletin_block h1{
	font-size:14px;
	font-weight:bold;
	line-height:21px;
	margin:0;
	padding:5px 10px;
	color:#d28a00;
	text-transform:uppercase;
	border-left:4px solid #d26d00;
}
.recent_new_bulletin_block ul{
	padding:0;
	margin:0;
}
.recent_new_bulletin_block ul li{
	display:inline;
	list-style:none;
}
.recent_new_bulletin_block ul li a{
	font-size:15px;
	font-weight:normal;
	margin:0;
	padding:7px 10px;
	color:#b8b8b8;
	border-left:4px solid #40d200;
	display:inline-block;
}
.recent_new_bulletin_block ul li a:hover{
	color:#FFF;
	border-left:4px solid #FF0000;
}


.page_header_block{
	display:table;
	table-layout:fixed;
	width:100%;
	height:30px;
	border-bottom:1px solid #404040;
	border-top:1px solid #000;
	background:#242424;
}
.page_header_block h1{
	font-size:14px;
	font-weight:bold;
	line-height:21px;
	margin:0;
	padding:5px 10px;
	color:#d28a00;
	text-transform:uppercase;
	border-left:4px solid #d26d00;
}

.main_page_container_wrapper{
	background:#1a1a1a;
	min-height:600px;
}

.middle_common_block{
	background:#494949;
	border:2px solid #1a1a1a;
	border-top:0 none;
}

.middle_common_block p{
	color:#a0a0a0;
	font-size:12px;
	line-height:16px;
}

.page_container_load_block{
	min-height:600px !important;
}

.upcomming_event_block{
	background:#494949;
	border:2px solid #1a1a1a;
	border-top:0 none;
}
.pallate_container{
	display:block;
	padding:10px;
}
.accordian_container_panel{
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0;
}
.live_in_play_panel{
}
.main_page_container_wrapper .live_in_play_panel h2{
	background:#41ad00;
}
.live_in_play_block{
}
.live_in_play_block ul.nav-tabs{
	padding-left:10px;
	padding-right:10px;
	border-bottom:0 none;

}
.live_in_play_block ul li{
}
.live_in_play_block ul li a{
	padding:5px 8px;
	font-size:12px;
	color:#848484;
	text-align:center;
	border:0 none;
	cursor:pointer;
	border-top:3px solid transparent;
	border-bottom:3px solid transparent;
	border-radius:0;
		-moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0;
}
.live_in_play_block ul li a:hover{
	background:#262626;
	border-top:3px solid #d28a00;
	border-bottom:3px solid #d28a00;
}
.live_in_play_block ul li a span.sports_name{
	font-size:12px;
	color:#8e8e8e;
	display:block;
}
.live_in_play_block ul li a:hover span.sports_name{
	color:#41ad00;
}
.live_in_play_block ul li a img{
	width:32px;
	margin-bottom:2px;
	display:inline-block;
}
.live_in_play_block .nav-tabs > li.active > a,
.live_in_play_block .nav-tabs > li.active > a:hover,
.live_in_play_block .nav-tabs > li.active > a:focus{
	border:0 none;
	background:#262626;
	color:#d28a00;
	border-top:3px solid #d28a00;
	border-bottom:3px solid #d28a00;
}

.betting_event_panel{
	/* border-bottom:2px solid #1a1a1a; */
}
.betting_event_panel h3{
	font-size:14px;
	font-weight:normal;
	line-height:21px;
	margin:0;
	padding:5px 10px;
	color:#FFF;
	background:#d28a00;
	/* border-bottom:1px solid #000000; */
}
.sports_event_pallate_container{
	display:block;
	padding:0px;
	margin-bottom: .02em;
}
.play_league_block{}
.play_league_block .panel-group{
	margin-bottom:0;
}

/* Accordian Style */
/* content page accordian design */
.accordian_container{
}
.panel{
	background:#FFF;
}
.panel a{
	outline:0 none;
}
.content_accordion_heading{
	padding:8px 10px !important;
	background:#d9d9d9;
	border-radius:0 !important;
	color:#FFF;
}
.panel-group .panel-heading.content_accordion_heading{
	background-color: #d2dee2;
	/* border-bottom:1px solid #000000; */
}
.content_accordion_heading:hover{
	background:#eedab2;
	color:#000000;
}
.content_accordion_heading h4.panel-title{
	color:#333;
	font-size:14px;
	font-weight:400;
	display:block;
}
.content_accordion_heading h4.panel-title:hover{
	color:#000000;
}

.panel-body .play_sports_participant_header span.event_sport_header_score{
	text-align:right;
	font-size:13px;
	color:#f58500;
	float:right;
}

.panel-default{ border:0 none}
.panel-body{
	background:#666666;
	text-align:left;
	padding:0;

}
.panel-body p{
	text-align:justify;
	font-size:13px;
	color:#ddd;
}
.panel-body ul, .panel-body ol{
	padding-left:30px;
}
.panel-body ul li, .panel-body ol li{
	padding:2px 0;
}
.panel-group .panel + .panel{
	margin-top:0px !important;
}

.play_sports_participant_header{
	color:#fff;
	/* border-top:1px solid #000; */
	background:#3897e0;
	text-align:left;
	font-weight: 900;
	padding:7px 10px;
}
.sports_participant_match_results {
	color:#a3a3a3;
	/* border-top:1px solid #000; */
	background:#a7d1f1;
	text-align:left;

}

.betAsia_participant{
	background-color:#666666;
	font-size:12px;
	position:relative;
	display:inline-block;
	/*margin-right:-5px;*/
	/* border-right:1px solid #1a1a1a;
	border-bottom:1px solid #1a1a1a; */
}
.betAsia_participant a{
	background: #fff;
	padding:7px 10px;
}
.betAsia_participant a:hover{
	background:#228cdd;
}
.betAsia_participant a:hover>.event_perticipant_odds{
	color:#fff;
}
.betAsia_participant a:hover>.event_perticipant_name{
	color:#000;
}
.sports_event_perticipant_2nd{
	width:50%;
	color:#a3a3a3;
}
.sports_event_perticipant_3rd{
	width:33.33%;
	color:#a3a3a3;
}
.sports_event_perticipant_4th{
	width:25%;
	color:#a3a3a3;
}
.sports_event_perticipant_2nd, .sports_event_perticipant_3rd, .sports_event_perticipant_4th{
	margin-right:-5px;
	border-left: 2px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.sports_event_perticipant_3rd:last-child{
	border-right: 2px solid #000;
}
/* .betAsia_participant:last-child{
	border-right:2px none;
} */
.betAsia_participant span.event_perticipant_name{
	display:inline-block;
	/* color:#fff; */
	font-weight: bold;
}
.betAsia_participant span.event_perticipant_odds{
	display:inline-block;
	padding-left:7px;
	color: #000100;
	font-weight: bold;
}
.event_sports_league_group{
	display:block;
	border: 2px solid #4988b9;
}
.event_sports_league_group a{
	display:block;
}

/* End Accordian Style */


@media screen and (min-width: 768px) {}
@media (min-width:768px) and (max-width:991px) {}
@media (min-width:993px) and (max-width:1025px){}
@media (max-width: 767px) {}
@media (min-width:479px) and (max-width:639px){}




/* RIGHT SIDEBAR BLOCK STYLE =================================== */
.notify_block_wrapper{
	border-top:1px solid #000;
}
.news_update_panel{
	background:#494949;
}
.news_update_panel h2, .common_block_panel h2{
	font-size:14px;
	font-weight:normal;
	line-height:21px;
	margin:0;
	padding:5px 10px;
	color:#FFF;
	background:#38aada;
}

.notify_block_wrapper .common_block_panel{
	margin-bottom:10px;
}
.common_block_panel p{
	color:#a0a0a0;
	font-size:12px;
	line-height:16px;
	clear:both;
	display:inline-block;
	margin-bottom:0;
}



.block_content{
	display:block;
	padding:7px 10px 7px 0;
	border-bottom:1px solid #1a1a1a;
}
.published_date{
	width:60px;
	float:left;
	text-align:center;
	padding-right:6px;
}
.published_date strong{
	font-size:30px;
	color:rgb(29, 58, 89);
	text-decoration: underline;
	font-family:'Droid Sans';
}
.published_date span{
	padding-top: 10px;
	font-size:13px;
	color:rgb(59, 59, 59);
	line-height:2px;
	display:block;
}
.extra_content_wrap{
	border-left:2px solid #1a1a1a;
	padding-left:8px;
	overflow:hidden;
	margin-bottom:7px;
}
.extra_content_wrap a{
	color:#444749;
}
.extra_content_wrap a:hover{
	color: #002e4d;
}
.extra_content_wrap a h5, .author_info h5{
	font-family:'Droid Sans';
	font-size:14px;
	font-weight:700;
	color:rgb(29, 58, 89);;
	padding-bottom:3px;
}
.extra_content_wrap a:hover h5{
	color:#002e4d;
}
.extra_content_wrap a p{
	color:rgb(59, 59, 59);;
	font-size:12px;
	line-height:16px;
}
.extra_content_wrap a:hover p{
	color: #001f33;
	text-shadow: -1px 1px 5px #12476A;
}


.betting_slip_block{
}

.betting_slip_block h2{
	background:#41ad00;
}
.betting_slip_block h4{
	background:#ffaf51;
}

.bet_slip_container{
	padding:10px 7px;
	color:#a0a0a0;
}
.bet_slip_container div{
	color:#3f3f3f;
	font-size:12px;
}
.bet_slip_select_box{
	background:#c9d2c4;
	border:1px solid #000;
	position:relative;
}
.bet_slip_select_box a.remove_button{
/*	position:absolute;
	left:-5px;
	top:-9px;*/
	padding:3px;
	color:#666666;
	margin-left:-20px;
}
.bet_slip_select_box a:hover.remove_button{
	color:#c14008;
}
.bet_slip_select_box .remove_button span{}
.bet_slip_select_box .remove_button span i{

}
.bet_slip_select_box h5.select_bet_perticipant_name{
	font-size:14px;
	font-weight:bold;
	background:#cde9bd;
	color:#2b2c2b;
	display:block;
	padding:7px 5px 7px 20px;
	position:relative;
	vertical-align:
}
.bet_slip_select_box h5 span.match_result_rating{
	display:inline-block;
	text-align:right;
	padding:7px 5px;
	background:#f58500;
	color:#FFF;
	margin-left:10px;
	font-size:12px;
	position:absolute;
	top:0;
	right:0;
	height:100%;
	vertical-align:middle;
}
.select_bet_match_information{
	font-size:12px;
	padding:5px 20px;
}

.rating_option_line{
	padding:5px 20px;
	display:block;
}
.rating_stake_field{
	width:80px;
	display:inline-block;
	margin-right:2px;
}
.rating_stake_field .form-group{
	margin-bottom:0;
}
.rating_stake_field .stake_inputbox{
	border-radius:0;
	padding:3px 5px;
	font-size:12px;
	height:30px;
}
.to_return_box{
	width:150px;
	display:inline-block;
	vertical-align:middle;
}
.to_return_box span.return_amount{
	color:#c14008;
}
.place_bid_button_line{
}
.place_bid_button_line button.place_bid_custom_btn{
	border-radius:0;
	width:100%;
	padding:4px 10px;
}

.place_bid_button_line button.place_bid_custom_btn span.bidding_amount{
	font-size:13px;
	font-weight:bold;
}

@media screen and (min-width: 768px) {}
@media (min-width:768px) and (max-width:991px) {
.common_block_panel{
	/* border-left:2px solid #1a1a1a;
	border-right:2px solid #1a1a1a; */
}
}
@media (min-width:993px) and (max-width:1025px){

}
@media (min-width:1026px) and (max-width:1366px){
}
@media (max-width: 767px) {
.common_block_panel{
	border-left:2px solid #1a1a1a;
	border-right:2px solid #1a1a1a;
}
}
@media (min-width:479px) and (max-width:639px){}

/* END MAIN CONTAINER PANEL STYLE ===================================== */

.inner_page_container{
	background:#1a1a1a;
	border:2px solid #1a1a1a;
	border-top:0 none;
	min-height:600px;
}
.inner_container_padding{
	padding:15px 20px;
}
.inner_page_container p{
	color:#bdbdbd;
	font-size:13px;
	text-align:justify;
	line-height:normal;
}
.common_page_title{}
.inner_page_container h2, .common_page_title h2, .common_page_title h1{
	font-size:16px;
	font-weight:normal;
	line-height:21px;
	margin:0;
	padding:7px 15px;
	color:#FFF;
	text-transform:uppercase;
	font-weight:bold;
	background:#d28a00;
}
.sports_event_details_page .common_page_title h2{
	border:2px solid #1a1a1a;
	border-top:0 none;
}

.sports_details_event_block{
	background:#494949;
	border:2px solid #1a1a1a;
	border-top:0 none;
}
.sports_details_event_block h2{
	background:#41ad00;
}
/* FORM OPTOINS TYLE */
.form_panel_block{
	width:60%;
}
.form_panel_block p{
	padding-bottom:10px;
}
.join_now_form{}

.custom_label_text{
    font-family: "Droid Sans";
    font-size: 14px;
	color:#cacaca;

}
.custom_inputbox, .custom_selectbox{
	background-color:#505050;
	border:1px solid #090909;
	color:#f4a000;
	font-size:13px;
	border-radius:0;
		-moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0;
}
.custom_inputbox:focus, .custom_selectbox:focus{
	border:1px solid #d28a00;
}
.required_star{
	color:#d28a00;
}
a.forgot_password_link{
	color:#777777;
	display:inline-block;
	padding:5px 0;
}
a:hover.forgot_password_link{
	color:#d28a00;
}
.left_nav_section_title{
	padding:4px 15px;
	text-transform:uppercase;
	font-size:14px;
	color:#d28a00;
	font-weight:bold;
	font-family:'Droid Sans';
	margin-bottom:2px;
	display:block;
	background:#232323;
	border-top:1px solid #3e3e3e;
	border-bottom:1px solid #3e3e3e;
}

.custom_table_design.table-condensed > thead > tr > th,
.custom_table_design.table-condensed > tbody > tr > th,
.custom_table_design.table-condensed > tfoot > tr > th,
.custom_table_design.table-condensed > thead > tr > td,
.custom_table_design.table-condensed > tbody > tr > td,
.custom_table_design.table-condensed > tfoot > tr > td
{
	padding:7px 10px;
}

.custom_table_design.table > thead > tr > th,
.custom_table_design.table > tbody > tr > th,
.custom_table_design.table > tfoot > tr > th,
.custom_table_design.table > thead > tr > td,
.custom_table_design.table > tbody > tr > td,
.custom_table_design.table > tfoot > tr > td
{
	border-top:1px solid #2f2f2f;
	color:#979797;
}
.table > thead > tr > th{
	border-color:#141414;
	background-color:#242424;
}
.table-hover > tbody > tr:hover{
background-color:#141414;
}
table.custom_table_design tfoot{
	border-top:3px solid #242424;
	border-bottom:3px solid #242424;
}

table.custom_table_design tfoot > tr > td{
	font-size:14px;
	color:#FFF !important;
	text-align:right;
}
span.deposite_history_current_balance{
	font-size:14px;
	font-weight:bold;
	color:#d28a00;
}


@media screen and (min-width: 768px) {}
@media (min-width:993px) and (max-width:1025px){
.form_panel_block{
	width:70%;
}

}
@media (min-width:768px) and (max-width:991px) {
.form_panel_block{
	width:80%;
}
}

@media (max-width: 767px) {
.table-responsive{
	border-color:#000;
}
.form_panel_block{
	width:100%;
}
}
@media (min-width:479px) and (max-width:639px){}








@media screen and (min-width: 768px) {}
@media (min-width:768px) and (max-width:991px) {}
@media (min-width:993px) and (max-width:1025px){}
@media (max-width: 767px) {}
@media (min-width:479px) and (max-width:639px){}




















.form-group{
	margin-bottom:10px;
}
.button_group{
	border-top:1px solid #c6c6c6;
	margin-top:10px;
	padding-top:5px;
}
.pagination-sm > li > a, .pagination-sm > li > span{
padding:4px 8px;
}
.pagination_margin{
	margin-top:25px;
}


/* end header part css */
/* footer panel */
.footer_part{
	background:#1c1c1c;
	padding:60px 0 50px; display:block;
}
.copyright_info{
	color:#565656;
	text-align:left;
}
.copyright_info p{
	color:#757575;
	text-align:left;
	font-size:13px;
	padding-bottom:20px;
}
.copyright_info a{
	margin-bottom:10px;
	color:#565656;
	text-align:left;
}
.footer_quick_link{
}
.footer_quick_link h3{
	color:#FFF;
	display:block;
	padding-bottom:10px;
}
.footer_quick_link ul{
	line-height:normal;
	padding:0;
	margin:0;
}
.footer_quick_link ul li{
	display:block;
	line-height:22px;
}
.footer_quick_link ul li a{
	color:#757575;
	text-decoration:none;
	display:inline-block;
	font-size:13px;
	display:inline-block;
}
.footer_quick_link ul li a:hover{
	color:#EEEEEE;
}
p.powered_by{
	text-align:right;
	color:#a4a4a4;
	font-size:13px;
}
p.powered_by a{
	color:#8c6c20;
	font-size:13px;
}
p.powered_by a:hover{
	color:#8c6c20;
	font-size:13px;
	text-decoration:underline;
}
ul.social_link{
	list-style:none;
	margin:0px 0 10px 0;
	padding:0;
}
ul.social_link li{
	display:inline-block;
	margin-right:3px;
}
ul.social_link li a{
	display:block;
}
.address_bottom{
	border-left:5px solid #444757;
	padding-left:15px;
}
.address_bottom p{
	color:#FFF;
	font-size:14px;
	text-align:left;
	font-family:'Droid Sans';
}

.disclimar_block{
	display:block;
	margin-top:30px;
}
.disclimar_block p{
	text-align:center;
	color:#818181;
	font-size:13px;
	padding-top:10px;
	padding-bottom:30px;
	border-top:1px solid #454545;
}
.payment_icon_block_bottom{
	display:block;
	text-align:center;
	margin:30px 0;
}
.payment_icon_block_bottom img{
	margin:0 10px;
}

@media (max-width: 767px) {/* line 4240*/
.ca-item{
	width:50% !important;
}
.footer_quick_link{
	margin:15px 0;
}
.footer_part{
	text-align:center;
}
.copyright_info{
	text-align:center;
}
.copyright_info p{
	text-align:center;
}
.footer_quick_link ul{
	border-top:1px solid #2f2f2f;
	padding-bottom:5px;
	padding-top:10px;
}

p.powered_by{
	text-align:left;
	padding-top:20px;
}

}

/* inner pages stylesheet Liakat- 06-10-2013 */
.breadcum_part{
	background:#F8F8F8;
	height:auto;
	width:100%;
}
ul.breadcum_links{
	margin:0;
	padding:5px 0;
	list-style:none;
}
ul.breadcum_links li{
	list-style:none;
	line-height:20px;
	display:inline-block;
}
ul.breadcum_links li a{
	text-decoration:none;
	color:#007dbd;
	text-align:left;
	font-size:12px;
}
ul.breadcum_links li span{
	padding:0 6px;
	color:#007dbd;
}

/* end pager and pagination */
.form_info_below_text{
	font-size:12px;
	color:#999999;
}



/* CUSTOM EDIT STYLE ================= 1st October 2017 */
p.flash_success{
    background: #d3f6d0;
    border: 3px solid #0ba200;
    margin: 15px 20px 10px;
    padding: 15px 20px;
    color: #0ba200;
    display: block;
    text-align: center;
    font-size: 16px;
	border-radius:8px
		-moz-border-radius:8px -webkit-border-radius:8px -o-border-radius:8px
}
p.flash_error{
    background: #fadada;
    border: 3px solid #d40000;
    margin: 15px 20px 10px;
    padding: 15px 20px;
    color: #d40000;
    display: block;
    text-align: center;
    font-size: 16px;
	border-radius:8px
		-moz-border-radius:8px -webkit-border-radius:8px -o-border-radius:8px
}
p.flash_success a.alert-link{
	color:#0ba200;
	font-weight:700;
}
p.flash_error a.alert-link{
	color:#d40000;
	font-weight:700;
}
.bet_slip_popup_width{
	width:400px;
	margin-top:100px;
}
.select_bet_match_information .bet_result, .select_bet_match_information .bet_result.bet_slip_error{
	background:#d40000;
	padding:6px 10px;
	text-align:center;
	display:block;
	color:#FFFFFF !important;
	margin-bottom:8px
}
.select_bet_match_information .bet_result.bet_slip_success{
	background:#0fa003;
	padding:6px 10px;
	text-align:center;
	display:block;
	color:#0fa003;
	margin-bottom:8px
}
.select_bet_match_information .betlimit,
.select_bet_match_information .betslipQ,
.select_bet_match_information .betslipA
{
	border-bottom:1px solid #989898;
	padding-top:7px;
	padding-bottom:7px;
}
.select_bet_match_information .betlimit{
	color:#0039dc;
}
.select_bet_match_information .betslipQ{}
.select_bet_match_information .betslipA{}
.btn{
	border-radius:0;
		-moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0;
}


/* Update CSS 28/10/2017 =================================== */
.panel-heading h4.panel-title span.event_sport_header_score{
	text-align:right;
	font-size:14px;
	color:#ff0000 !important;
	font-weight:bold;
	float:right;
}

/* ========Add in stylesheet bottom #  ============= */
.mobile_app_download_icon{
	display:block;
	text-align:center;
	margin:5px 0px 7px;
}
.mobile_app_download_icon a{
	display:inline-block;
	text-align:center;
}



/*
    CSS
*/
.rotate-180{
    margin-left:0px !important;
}
.rotate-180 button{
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
border-top-right-radius: 0 !important;
border-bottom-right-radius: 0 !important;
background-color: #f5d730;
color: #202020;
border: none;
width: 70px;
height: 37px;
text-align: center;
}
.category-mega-menu {
    top: 108px !important;
    width:456px;
    padding-top:5px;
}

.notify_block_wrapper{
border-top:1px solid #000;
}
.news_update_panel{
background:#494949;
}
.common_block_panel{
	background:#071c2c;
}

.notify_block_wrapper .common_block_panel{
margin-bottom:10px;
}
.common_block_panel p{
color:#a0a0a0;
font-size:12px;
line-height:16px;
clear:both;
display:inline-block;
margin-bottom:0;
}




.block_content{
display:block;
padding:7px 0px 7px 0;
border-bottom:1px solid #1a1a1a;
}
.published_date{
width:60px;
float:left;
text-align:center;
padding-right:6px;
}

.extra_content_wrap{
border-left:2px solid #1a1a1a;
padding-left:8px;
overflow:hidden;
margin-bottom:7px;
}
.extra_content_wrap a{
color:#444749;
}

.news_container_block{
		/* margin:10px 0 0; */
    background: #e6e6e6;
		border: 10px solid #D6651F;
}
.hero-side-category .category-toggle-wrap {
    background-color: darkgreen;
}
.header-advance-search .submit button {

    background-color: darkgreen;
    color: white;

}
.news_update_panel h2, .common_block_panel h2 {
    color: #FFF;
    /* background: #dd5516; */
		text-align: center;
		background: #D6651F;
}

.hero-image{
    display: block;
    width: 100%;
    height: 115px;
}


.panel-group .panel-title span{
	color: #0d3859 !important;
  font-weight: bolder;
}
.betting_event_panel h3{
    /* background:#dd5516; */
		background: #4988b9;
}
betAsia_participant a {
    background: #fff;
    padding: 7px 10px;
}
.betAsia_participant span.event_perticipant_name {
    display: inline-block;
    /* color: #fff; */
    font-weight: bold;
}
.betAsia_participant span.event_perticipant_odds {
    display: inline-block;
    padding-left: 7px;
    color: #09f;
    font-weight: bold;
}
