.fm-FooterModule {
    padding-bottom: 30px;
    min-width: 1023px;
}

.fm-FooterModule-inplay {
    min-width: inherit
}

.fm-FooterModule_Content {
    padding: 30px 30px 0;
    border-top: 1px solid #545454
}

.fm-FooterModule_Logo {
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto 24px
}

.fm-FooterModule_CookiePolicy,
.fm-FooterModule_GambleResponsibly,
.fm-FooterModule_License,
.fm-FooterModule_LicenseNumber {
    max-width: 655px;
    margin: 0 auto;
    padding: 0 30px;
    font-size: 11px;
    line-height: 17px;
    color: #bbb;
    text-align: center
}

.fm-FooterModule_Link {
    color: #ddd;
    cursor: pointer
}

.fm-FooterModule_Link:hover {
    color: #ffdf1b
}

.fm-FooterModule_CookiePolicy,
.fm-FooterModule_GambleResponsibly {
    margin-bottom: 17px
}

.fm-FooterModule_LicenseNumber {
    margin-bottom: 15px
}

.fm-FooterModule_SocialMedia {
    max-width: 655px;
    margin: 0 auto;
    line-height: 16px;
    font-size: 0;
    text-align: center;
    margin-bottom: 30px
}

.fm-FooterModule_Facebook,
.fm-FooterModule_Twitter {
    display: inline-block;
    font-size: 12px;
    color: #bbb;
    cursor: pointer
}

.fm-FooterModule_Facebook:hover,
.fm-FooterModule_Twitter:hover {
    color: #e4e4e4
}

.fm-FooterModule_Facebook:before,
.fm-FooterModule_Twitter:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='36' height='31' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M12.974 1.825l.008-.66s.125.022-.024.035l-.002-.066-2.202.004-.004.025c-2.494 0-2.514 2.412-2.514 2.412v1.71h-1.37L6.88 7.58l1.348.004.027 6.348 2.69-.01.02-6.33 1.746.01.25-2.347-2.06.027V4.16c0-.823.51-.77.51-.77h1.55l.02-1.548v-.017zM0 0h15v15H0V0z' fill='%23DDD'/%3E%3Cpath d='M27.974 1.825l.008-.66s.125.022-.024.035l-.002-.066-2.202.004-.004.025c-2.494 0-2.514 2.412-2.514 2.412v1.71h-1.37l.014 2.297 1.348.004.027 6.348 2.69-.01.02-6.33 1.746.01.25-2.347-2.06.027V4.16c0-.823.51-.77.51-.77h1.55l.02-1.548v-.017zM15 0h15v15H15V0z' fill='%23999'/%3E%3Cpath d='M1.47 16.57s1.055 1.443 3.196 2.542a11.1 11.1 0 0 0 4.207 1.184s-.895-3.873 3.18-4.406c0 0 1.496-.294 2.95 1.158 0 0 1.86-.562 2.254-.883 0 0-.14 1-1.542 1.985 0 0 1.452-.3 2.01-.553 0 0-.86 1.272-1.757 1.842 0 0-.03 2.37-.367 3.09 0 0-.54 2.01-1.32 2.983 0 0-.62 1.066-1.45 1.8 0 0-5.18 5.39-12.52 1.206 0 0 2.89.387 5.26-1.486 0 0-2.56-.062-3.33-2.52 0 0 .76.126 1.607-.05 0 0-2.88-.553-2.88-3.56 0 0 .638.45 1.617.445 0 0-2.13-1.354-1.47-3.855' fill='%23DDD'/%3E%3Cpath d='M19.47 16.57s1.055 1.443 3.196 2.542a11.1 11.1 0 0 0 4.207 1.184s-.895-3.873 3.18-4.406c0 0 1.496-.294 2.95 1.158 0 0 1.86-.562 2.254-.883 0 0-.14 1-1.542 1.985 0 0 1.452-.3 2.01-.553 0 0-.86 1.272-1.757 1.842 0 0-.03 2.37-.367 3.09 0 0-.54 2.01-1.32 2.983 0 0-.62 1.066-1.45 1.8 0 0-5.18 5.39-12.52 1.206 0 0 2.89.387 5.26-1.486 0 0-2.56-.062-3.33-2.52 0 0 .76.126 1.607-.05 0 0-2.88-.553-2.88-3.56 0 0 .638.45 1.617.445 0 0-2.13-1.354-1.47-3.855' fill='%23999'/%3E%3C/g%3E%3C/svg%3E");
    margin-right: 5px
}

.fm-FooterModule_Twitter:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 16px;
    background-position: -18px -15px
}

.fm-FooterModule_Twitter:hover:before {
    background-position: 0 -15px
}

.fm-FooterModule_Facebook {
    margin-left: 15px
}

.fm-FooterModule_Facebook:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background-position: -15px 0
}

.fm-FooterModule_Facebook:hover:before {
    background-position: 0 0
}

.fm-FooterModule_Copyright {
    font-size: 11px;
    color: #bbb;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 24px
}

.fm-FooterModule_AusCodeConduct {
    font-size: 11px;
    line-height: 17px;
    color: #bbb;
    text-align: center;
    margin-bottom: 17px
}

.fm-FooterModule_InControl {
    margin-bottom: 17px
}

.fm-FooterModule_GambleRespGreece,
.fm-FooterModule_InControl {
    font-size: 14px;
    line-height: 17px;
    color: #b6b6b6;
    text-align: center
}

.fm-FooterModule_GambleRespGreece {
    max-width: 655px;
    margin: 0 auto;
    margin-bottom: 17px
}

.fm-FooterModule_Probab {
    font-size: 11px;
    line-height: 17px;
    color: #bbb;
    text-align: center;
    max-width: 655px;
    margin: 0 auto 17px
}

.fm-FooterModule_ProbabLink {
    color: #ddd;
    cursor: pointer
}

.fm-FooterModule_ProbabLink:hover {
    color: #ffdf1b
}

.fm-FooterModule_ItalyOffice {
    font-size: 11px;
    line-height: 17px;
    color: #bbb;
    text-align: center;
    max-width: 655px;
    margin: 0 auto 17px
}

.fm-FooterModule_BulgariaLogo {
    display: block;
    height: 35px;
    width: auto;
    margin: 0 auto 4px;
    cursor: pointer
}

.fm-FooterModule_BulgariaCommission,
.fm-FooterModule_GreekCopyright,
.fm-FooterModule_GreekOffice {
    font-size: 11px;
    line-height: 17px;
    color: #bbb;
    text-align: center;
    max-width: 655px;
    margin: 0 auto 17px
}

.fm-FooterModule_EstLicenseNos {
    font-size: 11px;
    color: #ddd;
    text-align: center;
    line-height: 17px
}

.fm-FooterModule_EstWarning {
    font-size: 14px;
    color: #a7a7a7;
    text-align: center;
    max-width: 840px;
    margin: 15px auto 0;
    line-height: 21px
}

.fm-InPlayNotice_Header {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid #545454;
    font-size: 11px;
    color: #a7a7a7;
    text-align: center;
    line-height: 29px
}

.fm-InPlayNotice_Title {
    display: inline;
    cursor: pointer
}

.fm-InPlayNotice_Title:after {
    font-family: bet365UI;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fm-InPlayNotice_Title:hover {
    color: #ffdf1b
}

.fm-InPlayNotice_Title:after {
    content: "\e801";
    margin-left: 5px;
    vertical-align: middle;
    font-size: 5px
}

.asia-browser .fm-InPlayNotice_Title:after {
    -webkit-transform: scale(.4) translate(-1.3em, -.1em);
    -ms-transform: scale(.4) translate(-1.3em, -.1em);
    transform: scale(.4) translate(-1.3em, -.1em);
    display: inline-block
}

.fm-InPlayNotice_Body {
    padding: 34px 40px 41px;
    background-color: #404040;
    border-bottom: 1px solid #545454;
    position: relative
}

.fm-InPlayNotice_ImportantInfo {
    color: #e4e4e4;
    font-size: 11px;
    line-height: 17px;
    margin-bottom: 5px
}

.fm-InPlayNotice_Statement1,
.fm-InPlayNotice_Statement2 {
    color: #b6b6b6;
    font-size: 11px;
    line-height: 17px
}

.fm-InPlayNotice_Statement1 {
    margin-bottom: 5px
}

.fm-InPlayNotice_Close {
    position: absolute;
    top: 17px;
    right: 40px;
    color: #a7a7a7;
    font-size: 11px;
    line-height: 17px;
    cursor: pointer
}

.fm-InPlayNotice_Close:after {
    font-family: bet365UI;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\00d7";
    font-size: 17px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-left: 5px
}

.fm-InPlayNotice_Close:hover {
    color: #e4e4e4
}

.fm-InPlayNotice_Close:hover:after {
    color: #ddd
}

.fm-LogoRollover {
    position: absolute;
    background-color: #ddd;
    color: #333;
    font-size: 12px;
    text-align: left;
    line-height: 20px;
    border-radius: 1px;
    max-width: 245px;
    padding: 10px 15px;
    z-index: 40
}

.fm-LogoRollover:before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 50%;
    height: 3px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 6.5px 5px;
    border-color: transparent transparent #ddd
}

.ie-8 .fm-LogoRollover:before {
    margin-left: -6px
}

.fm-LogoRollover:after {
    content: "";
    display: block;
    width: 56px;
    height: 56px;
    position: absolute;
    top: -56px;
    left: 40%
}

.fm-Menu_Container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    font-size: 0
}

.fm-Menu_Menu {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    min-width: 158px;
    padding: 24px 0
}

.fm-Menu_Major {
    width: 66%;
    text-align: center;
    display: inline-block;
    padding-left: 20px
}

@media (max-width:1150px) {
    .fm-Menu_Major {
        width: 60%
    }
}

.fm-Menu_Minor {
    width: 34%;
    display: inline-block;
    vertical-align: top
}

.fm-Menu_MenuLeft {
    margin-left: 26px;
    padding-right: 36px;
    width: 192px
}

.fm-Menu_MenuRight {
    padding-left: 45px;
    padding-right: 30px;
    width: auto
}

.fm-Menu_Title {
    font-size: 12px;
    color: #fff;
    line-height: 25px;
    position: relative;
    cursor: default
}

.fm-Menu_Title:before {
    font-family: bet365UI;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fm-Menu_Link+.fm-Menu_Title {
    margin-top: 14px
}

.fm-Menu_Title:before {
    color: #bbb;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    text-align: center
}

.fm-Menu_TitleHelp:before {
    font-family: FontAwesome;
    content: "\f059";
    font-size: 16px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: 2px;
    margin-right: 5px
}

.fm-Menu_TitleStats:before {
    content: "\e82A";
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: 1px;
    margin-right: 4px
}

.fm-Menu_TitleScores:before {
    content: "";
    display: block;
    width: 21px;
    height: 13px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='13'%3E%3Cpath fill='%23BBB' fill-rule='evenodd' d='M0 1c0-.553.44-1 1-1h19a1 1 0 0 1 1 1v11c0 .553-.44 1-1 1H1a1 1 0 0 1-1-1V1zm12.235 6.724H8.882V7H7c-.17.197-.373.415-.61.636-.266.246-.535.472-.804.68-.27.205-.46.35-.576.432h2.94V10H2.813V8.92a27.99 27.99 0 0 0 1.18-.906c.394-.32.71-.595.947-.826.354-.343.606-.642.756-.897.15-.25.224-.5.224-.75 0-.3-.096-.53-.288-.69-.192-.16-.468-.24-.828-.24-.27 0-.553.056-.85.167-.298.11-.574.254-.83.426h-.14V3.74c.208-.09.515-.183.92-.274.407-.09.813-.136 1.22-.136.82 0 1.446.17 1.877.51.44.344.65.83.65 1.46 0 .24-.03.47-.1.694 0 0 0 .29-.54 1h1.88v-.5h3.355V7h3.03V5.4h-1.38V4.33c.21 0 .414-.01.608-.036.194-.025.355-.068.484-.13a.803.803 0 0 0 .34-.286.907.907 0 0 0 .134-.44h1.455v5.42h1.35V10h-4.37V8.857h1.38V7h-3.03v.724z'/%3E%3C/svg%3E");
    top: 6px;
    margin-right: 9px
}

.ie-8 .fm-Menu_TitleScores:before {
    background-image: url(/sports/FooterModule/assets/scores_icon.png)
}

.fm-Menu_TitlePromo:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='21' height='21' viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EShape%3C/title%3E%3Cpath d='M10.413 18.411L7.45 20.615 6.147 17.16l-3.676.25.773-3.61L0 12.025l2.602-2.623L.845 6.15l3.607-.798.273-3.683 3.467 1.28L10.412 0l2.224 2.95 3.466-1.28.275 3.683 3.607.798-1.761 3.247 2.605 2.62-3.237 1.78.775 3.611-3.688-.25-1.3 3.455-2.965-2.204v.001zm2.791-4.917c-.615.524-1.429.82-2.447.89v2.355h-1.13v-2.317a10.154 10.154 0 0 1-1.679-.175c-.636-.11-1.134-.252-1.493-.42V11.93h.288c.399.218.853.39 1.373.521.513.128 1.03.214 1.54.252v-1.771l-.631-.144a8.919 8.919 0 0 1-1.101-.315 2.896 2.896 0 0 1-.864-.48 2.023 2.023 0 0 1-.565-.736c-.133-.291-.204-.65-.204-1.079 0-.642.295-1.196.883-1.653.59-.456 1.406-.733 2.447-.83v-1.52h1.13V5.67c.399.017.864.073 1.398.166.533.097.954.207 1.262.332v1.87h-.288a4.814 4.814 0 0 0-1.069-.443 6.32 6.32 0 0 0-1.302-.22v1.648l.52.105c.975.19 1.695.479 2.158.866.465.387.692.926.692 1.619 0 .73-.307 1.358-.921 1.882h.003zm-1.783-2.19a2.167 2.167 0 0 0-.69-.236v1.609c.286-.039.532-.122.734-.25a.624.624 0 0 0 .305-.56c0-.252-.116-.44-.348-.562h-.001zM9.734 8.883V7.376a1.897 1.897 0 0 0-.768.217c-.227.124-.341.299-.341.522 0 .204.074.361.221.474.146.111.443.21.888.293z' fill='%23BBB' fill-rule='evenodd'/%3E%3C/svg%3E");
    top: 2px;
    margin-right: 9px
}

.ie-8 .fm-Menu_TitlePromo:before {
    background-image: url(/sports/FooterModule/assets/star_dollor_icon.png)
}

.fm-Menu_TitleAudio:before {
    content: "\e811";
    font-size: 13px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: 3px;
    margin-right: 8px
}

.fm-Menu_Link {
    font-size: 11px;
    color: #bbb;
    line-height: 25px;
    cursor: pointer
}

.fm-Menu_Link:hover {
    color: #ffdf1b
}

.fm-PartnerLogoContainer {
    font-size: 0;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 30px
}

.fm-PartnerLogoContainer_Icon {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 12px
}

.fm-PartnerLogoContainer_Icon+.fm-PartnerLogoContainer_Icon {
    margin-left: 30px
}

.fm-PartnerLogoContainer_IconLink {
    cursor: pointer
}

.fm-SitesMenu {
    text-align: center;
    font-size: 0;
    margin-bottom: 22px
}

.fm-SitesMenu_Link {
    display: inline-block;
    font-size: 11px;
    line-height: 20px;
    color: #ddd;
    cursor: pointer
}

.fm-SitesMenu_Link+.fm-SitesMenu_Link {
    margin-left: 15px
}

.fm-SitesMenu_Link:hover {
    color: #ffdf1b
}
